.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.contact-section {
  margin: auto;
  width: 50%;
}

.contact-form,
label {
  font-size: 1.2rem;
}

.form-gap {
  gap: 0.5rem;
}

#error-message {
  color: #cc0000;
}

#message-submitted {
  color: var(--green);
}

.hidden {
  display: none;
}

@media only screen and (max-width: 600px) {
}
