.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.contact-section {
  margin: auto;
  width: 50%;
}

.contact-form,
label {
  font-size: 1.2rem;
}

.form-gap {
  gap: 0.5rem;
}

#error-message {
  color: #cc0000;
}

#message-submitted {
  color: var(--green);
}

.hidden {
  display: none;
}

#contact input,
#contact textarea {
  background: var(--darkgrey);
  border: 1px solid var(--grey);
  border-radius: 7px;
  color: var(--text-color);
  padding: 0.5rem;
}

#contact textarea {
  height: 9rem;
}

@media only screen and (max-width: 1500px) {
  .contact-section {
    width: 65%;
  }
}

@media only screen and (max-width: 967px) {
  .contact-section {
    width: 80%;
  }
}

@media only screen and (max-width: 440px) {
  #contact textarea {
    height: 12rem;
  }
}
