header {
  padding: 2rem 1rem 0 1rem;
}

h1 {
  font-size: 3rem;
  color: var(--green);
  padding-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  color: var(--text-color);
  padding-bottom: 1rem;
  text-align: center;
}

#app {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

footer {
  margin: auto auto 0 auto;
  padding: 2rem 1rem 2rem 2rem;
  font-size: 2rem;
  border-top: 2px solid var(--dark-green);
  width: calc(100% - 8rem);
}

footer .portfolio-section {
  padding-bottom: 1rem;
}

footer ul {
  margin: 0 10%;
  font-size: 1.2rem;
  justify-content: center;
  gap: 1.2rem;
  align-items: center;
}

.image-container img {
  height: 2.5rem;
  width: 2.5rem;
}
