@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400&display=swap");

:root {
  --text-color: #ddd;
  --light-grey: #bbb;
  --dark-green: #61892f;
  --green: #8fd42e;
  --black-grey: #222629;
  --dark-grey: #474b4f;
  --grey: #6b6e70;
  --text-color-hover: #adabab;
  --grey-hover: #777777;

  /* Possible colors for future restructure 
  --dark-purple: #6f00ff;
  --yellow: #fdee00;
  --black: #050505; */
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

* {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

html {
  background: var(--black-grey);
  color: var(--text-color);
  scroll-behavior: smooth;
}

#background-image {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  filter: grayscale(100%);
  opacity: 0.1;
}

.bg-dark {
  background-color: var(--dark-grey);
}

.section-header {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  color: var(--green);
  margin-bottom: 2rem;
  border-bottom: 2px solid var(--dark-green);
  width: calc(100% - 2rem);
}

.section {
  padding: 1rem;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.content-center {
  justify-content: center;
}

.column {
  flex-direction: column;
}

.gap-2 {
  gap: 2rem;
}

.portfolio-section {
  padding: 0 3rem;
}

section div p,
.section p,
.project-tech-access {
  margin-bottom: 1rem;
  padding: 0 1rem 1rem 1rem;
  font-size: 1.2rem;
  line-height: 1.5;
}

/* Change Express.js and Handlebars icon from black to white   */
.express {
  filter: invert(100%);
}

/* Container for Linkedin and GitHub images, constrains image size */
.image-container {
  max-width: 40px;
  max-height: 40px;
}

.image-container img {
  width: 100%;
}

.button {
  font-size: 1.4rem;
  color: var(--green);
  text-decoration: none;
  padding: 5px;
  background: var(--dark-grey);
  border: 1px solid var(--grey);
  border-radius: 7px;
  cursor: pointer;
  transition: text-shadow, box-shadow 0.2s;
}

.button:hover {
  text-shadow: 0.5px 0.5px 0.5px var(--dark-green);
  box-shadow: inset 50px 50px 50px 50px #6b6e7055;
  color: var(--green);
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 991px) {
  html {
    padding: 0 !important;
  }

  body {
    padding: 0;
    margin: 0;
  }

  .project-description:nth-of-type(n) {
    grid-column: 1/-1;
    grid-row: 2/3;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 767px) {
  html {
    font-size: 14px;
  }

  /* Container for Linkedin and GitHub images, constrains image size */
  .image-container {
    max-width: 35px;
    max-height: 35px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .portfolio-section {
    padding: 0;
  }
}

@media screen and (max-width: 440px) {
  html {
    font-size: 12px;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  header .button-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1rem;
  }

  /* Container for Linkedin and GitHub images, constrains image size */
  .image-container {
    max-width: 30px;
    max-height: 30px;
  }
}
